//  Table of Contents:
//
//   1. Global
//   2. Grid breakpoints
//   3. Base Typography
//   4. Typography Helpers
//   5. ...

// 1. Global
// ---------

$purple-dark: #e20191;
$purple-light: #fb94e4;
$blue: #010155;
$red: #E80029;
$black: #000;
$white: #fff;
$grey-x-light:#f1f1f1;
$grey-light:#d2d2d2;
$grey-medium:#8c8c8c;
$grey-dark:#5a5a5a;
$grey-form:#C8C8C8;


// 2. Base typography
// -------------------

// 3. Typography helpers
// -------------------
