  <!-- Start of Footer -->
  <footer class="footer1">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Need help?</h4>
          <ul>
            <li><img src="assets/img/icons/email.svg" alt=""> contact@exmail.com  </li>
            <li><img src="assets/img/icons/telephone.svg" alt=""> +66 2345 6789 </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Customer service</h4>
          <ul>
            <li><a href="#">Contact Us</a> </li>
            <li><a href="#">Return</a> </li>
            <li><a href="#">Site map</a> </li>
          </ul>
        </div>
        <div class="col-md-3 " >
          <div class="border-right">
            <h4>Other</h4>
            <ul>
              <li><a href="#">Brand</a> </li>
              <li><a href="#">Vouchers</a> </li>
              <li><a href="#">Sales representative</a> </li>
                <li><a href="#">Proposal</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="copyright pl-md-4">
            <img src="assets/img/valuebaseone.svg" class="img-fluid footerlogo" alt="">
            <p>© 2019 valuebase.one</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
