<!-- Start of mainheader -->
<section class="mainheader homepage">
  <!-- start of Header -->
  <header class="header1">
    <nav class="navbar navbar-light navbar-expand-lg">
      <a class="navbar-brand" href="/"><img src="/assets/img/logowhite.svg" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mainmenu">
          <li class="nav-item">
            <a class="nav-link {{#ifpage 'index'}}active{{/ifpage}}" href="/">Home  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ifpage 'partners'}}active{{/ifpage}}" href="/partners">Team & Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ifpage 'companies'}}active{{/ifpage}}" href="/companies">Founders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ifpage 'about'}}active{{/ifpage}}" href="/about">About</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link {{#ifpage 'individual'}}active{{/ifpage}} " href="/individual">Portfolio</a>
          </li>
          -->
        </ul>
        <ul class="navbar-nav  rightmenu">
          <li class="nav-item">
            <a class="nav-link searchicon" href="#"><img src="assets/img/icons/searchicon.svg"  alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><img src="assets/img/icons/gicon.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"> <img src="assets/img/icons/fbicon.svg" alt=""> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><img src="assets/img/icons/inicon.svg" alt=""> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><img src="assets/img/icons/twicon.svg" alt=""></a>
          </li>
        </ul>
        <div class="searholder">
          <form class="searchform">
            <img src="assets/img/icons/close.svg" class="closeicon" alt="">
            <div class="iconholder">
              <input type="text" class="form-control" placeholder="Type Words and hit Enter">
                <img src="assets/img/icons/sendicon.png" alt="">
            </div>
          </form>
        </div>

      </div>
    </nav>
  </header>
  <!-- End of Header -->
</section>
