<!-- Start of Subscribe section -->
<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Sign up to Newsletters for Instant Notification</h4>
      </div>
      <div class="col-md-6">
        <form class="">
          <div class="form-group">
            <div class="iconholder">
              <input type="text" class="form-control" placeholder="Enter Email">
              <img src="assets/img/icons/sendicon.png" alt="">
            </div>
          </div>
          <ul class="list-inline social-list">
            <li class="list-inline-item">
              <a href="#"> <img src="assets/img/icons/facebook-icon.png" alt=""> </a>
            </li>
            <li class="list-inline-item">
              <a href="#"> <img src="assets/img/icons/youtube-icon.png" alt=""> </a>
            </li>
            <li class="list-inline-item">
              <a href="#"> <img src="assets/img/icons/twitter-icon.png" alt=""> </a>
            </li>
            <li class="list-inline-item">
              <a href="#"> <img src="assets/img/icons/gicon.png" alt=""> </a>
            </li>
            <li class="list-inline-item">
              <a href="#"> <img src="assets/img/icons/pintrest-icon-1.png" alt=""> </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

</section>
<!-- End of Subscribe section -->
