{{!-- This is the base Panini layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{!— Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{description}}">
    <title>{{page-title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="/assets/img/favicons/waterbear-favicon-32x32.png" rel=icon type="image/png"/>

    {{!-- Make it possible to create HTML redirect pages to circumvent some Netlify limitations. --}}
    {{#ifequal is-document-redirect true}}
        <meta http-equiv="refresh" content="0; URL={{redirect-url}}" />
    {{/ifequal}}

</head>

<body class="{{body-class}}">
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{>navigation}}
    {{> body}}

    {{#ifequal is-document-redirect true}}
        {{>document-redirect-message}}
    {{/ifequal}}

    {{>subscribe}}

    {{#if no-footer}}
    {{else}}
        {{>footer}}
    {{/if}}

    {{>js}}
    {{>analytics-scripts}}

</body>
</html>
